{% extends "base.html" %}

{% block content %}

  <div class="grid">

      <div id="box-1" title="education">
        <a href="/education">Education</a>
      </div>

      <div id="box-2" title="research">
        <a href="/research">Research</a>
      </div>

      <div id="box-3" title="athletics">
        <a href="/athletics">Athletics</a>
      </div>

      <div id="box-4" title="volunteering">
        <a href="/volunteering">Volunteering</a>
      </div>

  </div>

{% endblock %}
